body{
    /*width:33%;*/
    background-color: aliceblue;
}
#main{
    width: 40%;
    margin: 10% 0 0 30%;
}
#res{
    background-color:lightgray;
    border: solid;
    height: 48px;
    font-size:40px;
}
.btn{
    width:25%;
    height:45px;
    font-size:18px;
    margin:0;
    float:left;
}
#btn0, #btn1{
    background-color:lightgreen;
    color:brown;
}

#btnClr,#btnEql{
    background-color:darkgreen;
    color:white;   
}
#btnSum, #btnSub, #btnMul, #btnDiv{
     background-color:black;
     color:red;   
}
